<%= form_for ([@article,@article.comments.build]) do |c| %>
<%= c.hidden_field :user_id, value: curent_user.id %>
<%= c.hidden_field :article_id, value: @article.id %>
<p>
 	<%= c.label :your_comment %> 
 	<br>
 	<%= c.text_field :body %>
 </p>

<p>
	<%= c.submit class: 'btn btn-xs btn-success' %>
</p>

<%end%>