<table>
		<tr>
			<th>Title </th>
			<th>Description </th>
		</tr>
	<% rbj.each do |t| %>
	<tr>
		<th><%= t.title %></th>
		<th><%= t.description %></th>
		<p></p> 
		<th><%= link_to'show article' , article_path(t)%> ||</th> 
		<% if logged_in? && curent_user == t.user %>
			<th><%= link_to'edit', edit_article_path(t)%> ||</th> 
			<th><%= link_to'delete' , article_path(t) , method: :delete ,data: {confirm: 'are u sure'}%> ||</th>
			<th>
				<small>Created By: <%= t.user.username %>,
	 				<%= time_ago_in_words(t.created_at) %> ago,
	  				last updated: <%= time_ago_in_words(t.updated_at)%> ago
	  			</small>
	  		</th>
	  	<% end %>
	</tr>
		<%end%>
</table>
