<h1 align="center">update article</h1>

<% if @article.errors.any? %>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h2 class="panel-title">
						<%= pluralize(@article.errors.count, "error") %>
						Prevent Article From Being Create:
					</h2>
					<div class="panel-body">
						<ul>
							<% @article.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<%end%>


<div class="row">
	<div class="col-xs-12">
		<%= form_for(@article, :html => {class: 'form-horizontal', role: 'form'}) do |g| %>
			<div class="form-group">
				<div class="control-lable col-sm-2">
					<%= g.label :title %>
				</div>
				<div class="col-sm-6">
					<%= g.text_field :title, class: 'form-control', placeholder: 'Title', autofoucs: true %>
				</div>
			</div>
			<div class="form-group">
				<div class="control-lable col-sm-2">
					<%= g.label :description %>
				</div>
				<div class="col-sm-6">
					<%= g.text_area :description, rows:8, class: 'form-control', placeholder: 'Description', autofoucs: true %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-6">
					<%= g.submit class: 'btn btn-primary ptn-large' %>
				</div>
			</div>
		<% end %>
		<div class="col-xs-4 col-xs-offset-5">
			{ <%= link_to 'Listing All Articles', articles_path %> }
		</div>
	</div>
</div>