<h1>Showing Article</h1>

Created By :<%= @article.user.username %>

<% if curent_user == @article.user || curent_user.admin? %>
	
	<p>Make This Article 
		<%= link_to'private', private_path(@article), method: :put ,
			 data: {confirm: 'make it private'} %>
	</p>

<%end%>

<br>
-----------------------

<p>
	title: <%= @article.title %> 
</p>

<p>
	 descrtption: <%= @article.description %>
</p>
----------
<h4>
	<%= @article.comments.count %> Comment
</h4>

<%= render @article.comments %>

<br> ----

<h2>Add Comment</h2>

<%= render 'comments/form' %>

<%= link_to'Listing All Articles' , articles_path %>
